footer.footer(class=footerMargin ? 'footer--no-margin' : '')
  .footer-wrapper.container
    .footer-top
      .footer__col
        .footer__logo.logo
          a.logo__link(href='')
            img.logo__src(src=require('@/images/Logo.svg'), alt='')
      .footer__col
        h5.footer__title Main menu
        nav.footer-nav
          ul.footer-nav-list
            each val in menu
              li.footer-nav__item
                a.footer-nav__link(href=val.link)= val.name
      .footer__col
        h5.footer__title Kontakt
        .footer-contacts
          .footer-contacts__item
            svg(width='16', height='16')
              use(xlink:href='sprite.svg#pin_sprite')
            address.footer-contacts__value Emschestr. 42, 45525 Hattingen
          .footer-contacts__item
            svg(width='16', height='16')
              use(xlink:href='sprite.svg#phone_sprite')
            a.footer-contacts__value.footer-contacts__link(href='tel:+49023246866670') +49 (0) 2324 686 66 70
          .footer-contacts__item
            svg(width='16', height='16')
              use(xlink:href='sprite.svg#email_sprite')
            a.footer-contacts__value.footer-contacts__link(href='mailto:info@lasolas.de') info@lasolas.de
      .footer__col
        h5.footer__title Öffnungszeiten
        .footer-work
          .footer-work__item
            .footer-work__days Montag – Donnerstag:
            .footer-work__hours 17:00 - 22:30 Uhr
          .footer-work__item
            .footer-work__days Freitag, Samstag:
            .footer-work__hours 17:00 - 23:00 Uhr
          .footer-work__item
            .footer-work__days Sonntag:
            .footer-work__hours 12:00 - 22:00 Uhr
      .footer__col
        button.footer__btn.btn.btn--secondary(data-modal='main-modal') Tisch reservieren
        .footer__partners.hidden-mobile
          picture.footer__partners-image
            img(src=require('@/images/p-l.svg'), alt='')
    .footer-bottom
      .footer__copyright Las Olas Restaurant © 2021
      .footer__policy
        a.footer__policy-item(href='') Impressum
        a.footer__policy-item(href='') Datenschutz
        a.footer__policy-item(href='') Cookie settings
      .footer__socials.socials
        a.socials__item(href='', aria-label='Go to facebook')
          img.socials__img(src=require('@/images/socials/fb.svg'), alt='')
        a.socials__item(href='', aria-label='Go to instagram')
          img.socials__img(src=require('@/images/socials/ig.svg'), alt='')
      .footer__partners.hidden-desktop
        a.footer__partners-link(href='') 
          |
          picture.footer__partners-image
            img(src=require('@/images/p-l.svg'), alt='')
include ../blocks/modal-main
include ../blocks/modal-catering
