-
  locals.menu = [
    {
      name:'Home', 
      link: '/', 
    },
    {
      name:'Location', 
      link: `${htmlWebpackPlugin.options.path}/location.html`, 
    },
    {
      name:'Speisekarte', 
      link: `${htmlWebpackPlugin.options.path}/menu.html`, 
    },
    {
      name:'Catering', 
      link: `${htmlWebpackPlugin.options.path}/catering.html`, 
    },
    {
      name:'Kontakt', 
      link: `${htmlWebpackPlugin.options.path}/contacts.html`, 
    },
    {
      name:'Thanks', 
      link: `${htmlWebpackPlugin.options.path}/thanks.html`, 
    },
    {
      name:'404', 
      link: `${htmlWebpackPlugin.options.path}/error-404.html`, 
    },
    {
      name:'Policy', 
      link: `${htmlWebpackPlugin.options.path}/policy.html`, 
    },
  ]

- locals.headerOffset = true;

- locals.footerMargin = true;
